/**

.header_costum table thead > tr >th {
    background-color: aqua !important;
    color: black !important;
    text-align : center !important;
}

.header_costum table thead > tr >th:nth-child(2){
    width: 300px !important;
}
.o_portal_my_home div{
    background-image: url('new_app/static/description/amouda.png'); 
    background-size: auto; 
    background-position: center;
    padding: 15px;
    background-repeat: no-repeat;

  }
  **/